html
{
    background: url(/background1.png) no-repeat center center fixed; 
}

@font-face 
{
    src: url(fonts/glacial-indifference.regular.otf);
    font-family: Glacial;
}

body {
    width: 100%;
    font-family:'Poppins', sans-serif;
	height: 100vh;
    margin: 0;
    padding: 0;
  }

/* BARRE DE NAVIGATION et BOUTONS*/

.nav
{
    display: flexbox;
    width: 100%;
    flex-direction: column;
    align-items:center;
}

.buttons
{
    display: flex;
    position: relative;
    margin-top: 2%;

}

.btn
{
    display: flexbox;
    position: relative;
    text-decoration:none;
    padding: 20px 20px;
    margin-left: 80px;
    margin-right:80px;
}

/* Bouton 1 animations */
.btn-1
{
    color: #000;
}

.btn-1::after, .btn-1::before
{
    border: 2px solid #000;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height:calc(100% - 6px);
    left: 0;
    bottom:0;
    z-index: -1;
    transform: transform 0.3 ease;

}

.btn-1:hover
{
    transform: translate(px, -12px);
}

.btn-1:hover::after
{
    transform: translate(-5px, -5px);  
}

.btn-1:hover::before
{
    transform: translate(5px, 5px); 
}


/*Bouton 2 animations */

.btn-2
{
    color: #000;
}

.btn-2::after, .btn-2::before
{
    border: 2px solid #000;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height:calc(100% - 6px);
    left: 0;
    bottom:0;
    z-index: -1;
    transform: transform 0.3 ease;

}

.btn-2:hover
{
    transform: translate(px, -12px);
}

.btn-2:hover::after
{
    transform: translate(-5px, -5px);  
}

.btn-2:hover::before
{
    transform: translate(5px, 5px); 
}

/* Bouton 3 animations*/
.btn-3
{
    color: #000;
}

.btn-3::after, .btn-3::before
{
    border: 2px solid #000;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height:calc(100% - 6px);
    left: 0;
    bottom:0;
    z-index: -1;
    transform: transform 0.3 ease;

}

.btn-3:hover
{
    transform: translate(px, -12px);
}

.btn-3:hover::after
{
    transform: translate(-5px, -5px);  
}

.btn-3:hover::before
{
    transform: translate(5px, 5px); 
}

.btn-4
{
    color: #000;
}

.btn-4::after, .btn-4::before
{
    border: 2px solid #000;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height:calc(100% - 6px);
    left: 0;
    bottom:0;
    z-index: -1;
    transform: transform 0.3 ease;

}

.btn-4:hover
{
    transform: translate(px, -12px);
}

.btn-4:hover::after
{
    transform: translate(-5px, -5px);  
}

.btn-4:hover::before
{
    transform: translate(5px, 5px); 
}

.btn-5
{
    color: #000;
}

.btn-5::after, .btn-5::before
{
    border: 2px solid #000;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height:calc(100% - 6px);
    left: 0;
    bottom:0;
    z-index: -1;
    transform: transform 0.3 ease;

}

.btn-5:hover
{
    transform: translate(px, -12px);
}

.btn-5:hover::after
{
    transform: translate(-5px, -5px);  
}

.btn-5:hover::before
{
    transform: translate(5px, 5px); 
}


/* Attributions générales aux classes etc*/

h2
{
    font-family: 'Barlow', sans-serif;;
    color: #836cb1;
    letter-spacing: 3px;
    font-weight:100;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(102, 99, 99);
    border-style:double;
}

h4
{
    font-family: glacial;
    color: #836cb1;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 3%;
}

h5
{
    font-family: glacial;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: -10px;
    font-size: 15px;
    text-size-adjust:inherit;
}

li,p
{
    font-size: 14px;
}

.adroite img{
    float: left;
    width:  100px;
    height: 100px;
    object-fit:cover;
    margin-right: 15px;
}
/* GESTION ENTETE ET HEADER*/

.entete 
{
    display: flex;
    background: rgb(181,222,236);
    background: linear-gradient(90deg, rgba(181,222,236,1) 0%, rgba(212,190,255,1) 91%);
    position:fixed;
    height: 2%;
    margin-bottom: 10px;
    width: 100%;
    block-size: 12%;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
    border-style: double;
    
}

.entete a
{
    list-style: none;
    color:inherit;
}
.entete h4
{
    display: flexbox;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
}

/* GESTION FLEX:FLEXBOX CV*/
.boxcv
{
    line-height: 2;
    display: flex;
    justify-content: center;
    text-justify:auto;
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    margin-top: 0%;
    font-size: 16px;
}

/* STYLING POUR LA COLONNE DE GAUCHE et SOUS-DIV */

.agauche {
    display: flex;
    width:auto;
    margin: 5px;
    margin-top: 10%;
    background: whitesmoke;
    border-style:none;
    border-radius:2rem;
    flex-direction: column;
    flex-basis: 10px;
    box-shadow: 0px 5px 20px 1px;
    opacity: 97%;
    z-index: -1;
}

.agauche li
{
    list-style: none;
    margin-right: 30px;
    line-height: 2;
    font-family: 'Anonymous Pro', monospace;
}
.agauche-info
{
    display: flexbox;
    padding-bottom: 10px;
    line-height: 1.5;
    text-align: center;
   
}

.agauche a
{
    text-decoration: none;
    color: #131516;
}

.agauche-img 
{
    margin:5%;
    position:relative;
    object-fit: contain;
}

#photocv
{
    border-radius: 30px;
    margin-left: 3px;
    margin-top: 5px;
    border-style: solid;
}

.QRcodePDF img
{
    object-fit: contain;
}

.agauche-info p
{
    line-height:1;
    font-family: 'Space Mono', monospace;
}
.agauche-certif
{
    display: flexbox;
}

.agauche-comp
{
    display: flexbox;
}

.agauche-comp li
{
    text-align: center;
    font-family: 'Space Mono', monospace;
}

.agauche .agauche-certif li,h2
{
    text-align:center;
}


.agauche .agauche-certif li
{
   text-align: center;
}

/* STYLING COLONNE DE DROITE et SOUS-DIV*/

.adroite {
    display: flexbox;
    justify-content: center;
    width:auto;
    margin: 5px;
    background-color: #ffffff;
    margin-top: 10%;
    margin-left: 3%;
    border: black;
    border-width: 2px;
    border-radius:2rem;
    flex-direction: column;
    box-shadow: 0px 5px 20px 1px;
    opacity: 95%;
    z-index: -1;
}

.adroite-exp
{
display: flexbox;
align-content: center;
margin: 30px;
}

.adroite-exp h2
{
    margin: 20px;
}


.adroite-form
{
    display: flexbox;;
    align-content: center;
    margin: 30px;
}

.adroite-div
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items:flex-start;
    margin: 30px;
}

.adroite-div p
{
    font-family:'space mono', monospace;
}

.benevolats
{
    display: flexbox;
    margin: 20px;
    margin-top: -10px;
    align-content: center;
}

.activ
{
    display: flexbox;
    margin: 20px;
    margin-top: -10px;
    align-content: center;
}

.adroite h4
{
    line-height: 0;
    margin-left: 2.5%;
    margin-top: 5%;
   
}

.adroite h5
{
    margin-bottom: -1%;
}


.adroite li
{
    line-height: 1.5;
    margin-left: 3%;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
    margin-right: 5%;
    margin-top: 2px;
}

.vertical
{
    border: solid;
    border-width: 0.5px;
    border-color: #000;
    border-style:double;
    
}
.adroite-div p
{
    margin-left: 10px;
}



/* STYLING FOOTER*/ 

.footer
{
    display: flex;
    max-width: 1170px;
    margin: 0;
    padding: 0;
    
    
}

.footer-content
{
    box-sizing: border-box;
    border: black;
    border-style:double;
    background: rgb(181,222,236);
    background: linear-gradient(90deg, rgba(181,222,236,1) 0%, rgba(212,190,255,1) 91%);
}
